<!DOCTYPE html>
<html>
   <body>
      <form action="" method="post">
         <fieldset>
            <label for="ticker">Enter a ticker symbol:</label>
            <br/>
            <input type="text" id="symbol" name="symbol" autocomplete="off" autofocus required></input>
            <br/>
            <input type="submit" value="Fetch Price"></input>
         </fieldset>
      </form>
   </body>
</html>
